<div class="list">
<mat-card
  class="movie-card"
  *ngFor="let movie of trendingTvShows"
  routerLink="/tv/{{ movie.id }}"
>
  <img
    mat-card-image
    src="https://image.tmdb.org/t/p/w500{{ movie?.poster_path }}"
    onerror="this.src='../../../assets/images/missingPicture.jpg'"
    alt=""
  />
  <mat-card-content>
    <h6 class="movie-title">{{ movie?.name }}</h6>
  </mat-card-content>
</mat-card>
</div>

<div class="container">
  <ul class=pagesUl>
      <li class="pagesLi"><button  class="pagesButtons" routerLink="/tv" [queryParams]="{page:'1'}">1</button></li>
      <li class="pagesLi"><button  class="pagesButtons" routerLink="/tv" [queryParams]="{page:'2'}">2</button></li>
      <li class="pagesLi"><button  class="pagesButtons" routerLink="/tv" [queryParams]="{page:'3'}">3</button></li>
      <li class="pagesLi"><button  class="pagesButtons" routerLink="/tv" [queryParams]="{page:'4'}">4</button></li>
      <li class="pagesLi"><button  class="pagesButtons" routerLink="/tv" [queryParams]="{page:'5'}">5</button></li>
  </ul>
</div>

