<mat-card
  class="movie-card"
  *ngFor="let movie of trendingTvShows"
  routerLink="/tv/{{ movie.id }}"
>
  <img
    mat-card-image
    src="https://image.tmdb.org/t/p/w500{{ movie?.poster_path }}"
    onerror="this.src='../../../assets/images/missingPicture.jpg'"
    alt=""
  />
  <mat-card-content>
    <h6 class="movie-title">{{ movie?.name }}</h6>
  </mat-card-content>
</mat-card>

<div class="container">
  <ul>
      <li><a routerLink="/tv" [queryParams]="{page:'1'}">1</a></li>
      <li><a routerLink="/tv" [queryParams]="{page:'2'}">2</a></li>
      <li><a routerLink="/tv" [queryParams]="{page:'3'}">3</a></li>
      <li><a routerLink="/tv" [queryParams]="{page:'4'}">4</a></li>
      <li><a routerLink="/tv" [queryParams]="{page:'5'}">5</a></li>
  </ul>
</div>

