<div>

    
</div>


<div class='randInfo' id=close>
    <button (click)="openAd()" class=openAd>
    <i class="material-icons">info</i>
    What the Random option consist in?
    </button>
    <button class="closeAd" (click)="closeAd()"><a><i class="material-icons">close</i></a></button>
    <br>
    Let the bobcat help you choose a movie that he considers as a basic!
    <br>
    Use this impressive feature by pressing the random button as much as you like! 
    <br>
    <img class="randExpl" src="assets/images/bobcatRandom.png"/>
</div>
