.randInfo{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #bf7706;
    text-align: center;
    font-family: caviarDreams;
    font-size: 2em;
    // height: 5%;
}

button,.closeAd{
    text-decoration: none;
    color: #f1e6d5;
    background: none;
    border: none;
}

button:hover,.closeAd:hover{
    color: #392e1d;
}

button:focus {outline:0;}

.closeAd{
    position: fixed;
    right: 1%;
}

.container {
  margin-left: 6%;
  margin-top:6%;
  position: absolute;
  background-color: black;
}


.image-card-container {
  position: fixed;
  right: 50%;
  top: 10%;
  height: 90%;
}

.details-container {
  width: 50%;
  left: 50%;
  position: fixed;
  overflow-y: auto;
  height: 90%;
}

img {
  height: 100%;
  object-fit: cover;
}

.movie-title {
  color: #bf7706;
  margin-left: 1.1em;
  display: inline-block;
  font-size: 2.5em;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: caviarDreams;
}

.overview {
  color: #f1e6d5;
  display: inline-table;
  font-weight: 300;
  margin-left: 2.9em;
  margin-right: 1em;
  font-size: 1em;
  text-align: justify;
  margin-top: 5%;
}

.genres {
  color: #bf7706;
  display: inline-block;
  font-weight: 300;
  margin-left: 2em;
  font-size: 1.4em;
  font-family: caviarDreams;
}

.release-details-container{
  width: 75%;
  display: inline-block;
  font-weight: 300;
  margin-left: 2em;
  font-size: 1.4em;
  font-family: caviarDreams;
  color: #f1e6d5;
}

.release-details{
  color: #bf7706;
}

.runtime-container, .language-container{
  margin-left: auto;
}

.vote-container, .language-container{
  margin-left: 6em;
}

.first-box, .second-box{
  display: inline-block;
}

.cast-container{
  margin-top: 5%;
}


  .randomButton{
      position: fixed;
      border: solid;
      font-family: caviardreams;
      text-align: center;
      font-size: 2em;
      width: 10%;
      left: 2%;
      border-radius: 20px;
  }

  .randomButton:hover{
      border-color: #bf7706;
      color: #bf7706;
      background-color: #f1e6d5;
  }

  