
 
  .content {
    flex-direction: column;
    align-items: center;
    height: 90%;
    top: 10%;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    // background-position: center;
    background-size: cover;
    position: fixed;
    font-family: caviarDreams;
  }

  .content2 {
    flex-direction: column;
    align-items: center;
    height: 90%;
    top: 10%;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background-image: radial-gradient(circle, rgba(241, 230, 213, 0.8) 20%,rgba(0,0,0,0),rgb(57, 46, 29) 80%);
  }

  .aligncenter {
     text-align: center;
  }

.logo {
  width:35%;
  left: 50%;
  position: fixed;
  transform: translate(-50%,0%);
  top: 25%;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  padding: 6px;
  border: #bf7706;
  border-style: solid;
  color: #392e1d;
  background-color: #f1e6d5;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 2em;
  top: 70%;
  left: 30%;
  height: 8%;
  bottom: 50%;
  position: fixed;
  width: 40%;
  font-family: caviarDreams;
}

.state-container-dropdown {
  position: absolute;
  top: 85%;
  left: 30%;
  z-index: 1;
  width: 40%;
  max-height: 300px;
  background: #141414;
  overflow-y: auto;
}

.state {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.state:hover {
  background: #00fc87;
  cursor: pointer;
}