.container {
  margin-left: 190px;
  margin-top:6%;
  position: absolute;
  top: 0%;
}


.image-card-container {
  width: 400px;
  height: 550px;
  margin-top: 3em;
  float: left;
}

.details-container {
  margin-top: 2.5em;
  width: 560px;
  float: left;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.movie-title {
  color: black;
  margin-left: 1.1em;
  display: inline-block;
  font-size: 2.5em;
  letter-spacing: 2px;
  font-weight: 500;
}

.overview {
  color: black;
  display: inline-table;
  font-weight: 300;
  margin-left: 2.9em;
  margin-right: 1em;
  font-size: 1em;
}

.genres {
  color: #00fc87;
  display: inline-block;
  font-weight: 300;
  margin-left: 2em;
  font-size: 1.4em;
}

.release-details-container {
  width: 500px;
  height: 150px;
}

.release-year-container {
  color: black;
  margin-left: 2em;
  font-size: 1.4em;
  float: left;
}

.release-year {
  color: #00fc87;
  font-weight: 300;
  font-size: 1.1em;
  display: inline-block;
  margin-top: 0.1em;
}

.runtime-container {
  color: black;
  float: left;
  margin-left: 9em;
  font-size: 1.4em;
}

.runtime {
  color: #00fc87;
  font-weight: 300;
  margin-top: 0.1em;
  display: inline-block;
}

.cast-container {
  color: black;
  margin-left: 2em;
  font-size: 1.4em;
  display: inline-block;
  margin-top: 1.3em;
}

.cast {
  color: #00fc87;
  font-weight: 300;
  font-size: 0.9em;
}

