<div class="container">
  <div class="image-card-container">
    <img
      src="https://image.tmdb.org/t/p/w500{{ actor?.profile_path }}"
      onerror="this.src='../../../assets/images/missingPicture.jpg'"
      alt="{{ actor?.title }}"
    />
  </div>
  <div class="details-container">
    <h1 class="movie-title">{{ actor?.name }}</h1>
    <div class="release-details-container">
      <div class="release-year-container">
        Birthday:<br />
        <span class="release-year release-details">{{ actor?.birthday}}</span>
      </div>
      <div class="release-year-container">
        Popular Movies: <br />
        <span class="release-year release-details">{{ credits?.join(', ') }}</span>
      </div>
    </div>
    <p class="overview">{{ actor?.biography }}</p>
    
  </div>
</div>
  