<div class="container">
    <div class="image-card-container">
      <img
        src="https://image.tmdb.org/t/p/w500{{ movie?.poster_path }}"
        onerror="this.src='../../../assets/images/missingPicture.jpg'"
        alt="{{ movie?.title }}"
      />
    </div>
    <!-- <div class="blackGrandiant"></div> -->
    <div class="details-container">
      <h1 class="movie-title">{{ movie?.title }}</h1>
      <p class="overview">{{ movie?.overview }}</p>
      <p class="genres">{{ genres?.join(', ') }}</p>
      <br>
      <div class="release-details-container">
          <div class="first-box">
        <div class="release-year-container">
          Release Date: <br />
          <span class="release-year release-details">{{ movie?.release_date }}</span>
        </div>
        <div class="runtime-container">
          Runtime: <br />
          <span class="runtime release-details">{{ movie?.runtime }} mins</span>
        </div>
      </div>
      <div class="second-box">
        <div class="vote-container">
          Vote Average: <br />
          <span class="vote release-details">{{ movie?.vote_average }}</span>
        </div>
        <div class="language-container">
            Original Language: <br />
            <span class="language release-details">{{ movie?.production_countries[0].name }}</span>
          </div>
        </div>
        <div class="cast-container">
            Cast: <br />
            <span class="cast release-details">{{ filteredCast?.join(', ') }}</span>
        </div>
        <div class="director-container">
          Director: <br />
          <span class="director release-details">{{ director }}</span>
        </div>
      </div>
    </div>
  </div>
  