<div class="content" role="main">
</div>

<div class="content2">
	<img class="logo" src="assets/logo.png"/>
	<div class="topnav">
		<input type="text" placeholder="Search for a Movie, a TV Show, an actor ...">
	</div>
</div>

<!-- Toolbar -->
<div class="toolbar" role="banner">
	<img routerLink="/" class="logoLight" src="assets/logo light.png"/>
	<h1 routerLink="/">Back To Basics</h1>
	<div class="titles">
		<a routerLink="/movies">Movies</a>
		<a routerLink="/tvShow">TV Show</a>
		<a routerLink="/actors">Actors</a>
		<a routerLink="/random">Random</a>
	</div>
	<div class="searchBar">
		<input type="text" placeholder="Search for a Movie, a TV Show, an actor ...">
	</div>
</div>

<footer>
	<div class="footerContent">
		Footer Here
	</div>
</footer>



<router-outlet></router-outlet>