<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width=40
    alt="LogoBTB"
    src="assets/images/logo light.png"
  />
  <span>Welcome</span>
    <div class="spacer">
      <a routerLink="/test">test</a> -
    <a routerLink="/styles">styles</a> -
    <a routerLink="/eleves">eleves</a>
    </div>
    
</div>

<div class="content" role="main">

  <p class="aligncenter">
    <img
    width=50%
    src="assets/images/logo overlay.png"
     alt="centered image" />
</p>
</div>

<footer>
  Footer Here
</footer>



<router-outlet></router-outlet>