.state-container-dropdown {
  position: absolute;
  margin-top: 3px;
  z-index: 1;
  width: 100%;
  max-height: 300px;
  background: #141414;
  overflow-y: auto;
}

.state {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.state:hover {
  background: #00fc87;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  font-family: caviarDreams;
}

.p {
  margin: 0;
  font-family: caviarDreams;
}


@font-face {
  font-family: caviarDreams;
  src: url("src/assets/fonts/caviarDreams/CaviarDreams.ttf") format("opentype");
}

.spacer {
  flex: 1;
}


.toolbar {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #392e1d;
  color: #f1e6d5;
  font-weight: 600;
  position: absolute;
  font-family: caviarDreams;
  font-size: 2em;
}


.toolbar img {
  margin: 0 16px;
}



.aligncenter {
    text-align: center;
}
  


.logo {
  width:35%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,0%);
  top: 25%;
}


.searchBar {
  right: 2%;
  position: absolute;
  border: #bf7706;
  border-style: solid;
  color: #392e1d;
  background-color: #f1e6d5;
}


.titles {
  width: 50%;
  left: 50%;
  transform: translate(-50%,0%);
  position: absolute;
}



.titles a {
  padding: 5%;
  color: #bf7706;
}


.titles a:hover {
  padding: 5%;
  color: #f1e6d5;
}


.logoLight {
  height: 80%
}

  





  

