<!-- <span class="blackOverlay"></span> -->
<div class="list">
<mat-card
  class="movie-card"
  *ngFor="let movie of popularActors"
  routerLink="/person/{{ movie.id }}"
>
  <img
    mat-card-image
    src="https://image.tmdb.org/t/p/w500{{ movie?.profile_path }}"
    onerror="this.src='../../../assets/images/missingPicture.jpg'"
    alt=""
  />
  <mat-card-content>
    <h6 class="movie-title">{{ movie?.name }}</h6>
  </mat-card-content>
</mat-card>
</div>


<div class="container">
    <ul class=pagesUl>
        <li class="pagesLi"><button  class="pagesButtons" routerLink="/person" [queryParams]="{page:'1'}">1</button></li>
        <li class="pagesLi"><button  class="pagesButtons" routerLink="/person" [queryParams]="{page:'2'}">2</button></li>
        <li class="pagesLi"><button  class="pagesButtons" routerLink="/person" [queryParams]="{page:'3'}">3</button></li>
        <li class="pagesLi"><button  class="pagesButtons" routerLink="/person" [queryParams]="{page:'4'}">4</button></li>
        <li class="pagesLi"><button  class="pagesButtons" routerLink="/person" [queryParams]="{page:'5'}">5</button></li>
    </ul>
  </div>
