.row-header-title {
  margin: 0 0 0 1em;
  color: #bf7706;
}
  
.movie-card {
  width: 300px;
  display: inline-block;
  margin: 7% 1em 1em 2em;
}

.movie-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h6{
  color: #bf7706;
}

.container {
  text-align: center;
}
.container ul {
  border: 2px solid #bf7706;
  display: inline-block;
  margin: 10px 0;
  padding: 2px;
}
.container li {
  display: inline-block;
}
.container li a {
  display: inline-block;
  background: white;
  color: #bf7706;
  padding: 5px;
  text-decoration: none;
}


