.row-header-title {
  margin: 0 0 0 1em;
  color: #09b15a;
}
  
.movie-card {
  width: 300px;
  display: inline-block;
  margin: 7% 1em 1em 2em;
}

.movie-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}


